:root {
  --font-family: Inter, Avenir, Helvetica, sans-serif;
  --font-size: 1.12rem;
  --font-thin: 100;
  --font-regular: 400;
  --font-medium: 500;
  color-scheme: light dark;
  --color-0: #000000;
  --color-1: #f7f7f7;
  --color-2: #e71d36;
  --color-3: #FF9F29;
  --color-4: #FAF3E3;
  --color-5: #3D0000;
  --color-6: #950101;
  --darkmode-bg: var(--color-0);
  --light-text: var(--color-1);
  --lightmode-bg: var(--color-1);
  --dark-text: var(--color-0);
  --links: none;
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}

/*-----Universal Styles-----*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*-----Core Styles-----*/
html {
  font-size: 100%;
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

:where(ul, ol):where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(img, picture, svg) {
  display: block;
  max-width: 100%;
}

img[width] {
  height: auto !important;
}

svg {
  fill: currentColor;
  pointer-events: none;
}

button,
.btn {
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--lightmode-bg);
    color: var(--dark-text);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--darkmode-bg);
    color: var(--light-text);
  }
  :root .icon-div a:hover .feather {
    stroke: var(--color-4);
  }
}
body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-thin);
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: var(--links);
}

h1,
h2,
h3 {
  line-height: 1.1;
  letter-spacing: 0.04em;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
  font-weight: var(--font-regular);
}

.feather {
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: var(--container-weight);
  padding: var(--spacing-small);
}

.page-header {
  position: relative;
  overflow: hidden;
  background-image: none;
}
.page-header .home-banner {
  position: relative;
  transition: all 1s linear;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page-header .home-banner :where(.logo, p) {
  margin-bottom: var(--spacing-large);
}
.page-header .home-banner h1 {
  position: relative;
  background: linear-gradient(to right, var(--color-5), var(--color-1), var(--color-1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-header .home-banner h1 spam {
  font-size: 0.5em;
}
.page-header .home-banner p {
  background: linear-gradient(to right, var(--color-2), var(--color-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.page-header .home-banner :where(.span) {
  padding: 0 var(--spacing-small);
  border-radius: 1rem;
}
.page-header .home-banner .icon-div {
  display: flex;
  gap: calc(var(--icon-size) / 1);
}
.page-header .home-banner .icon-div .feather {
  width: var(--icon-size);
  height: var(--icon-size);
}
.page-header .home-banner .icon-div a:hover .feather {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=style.css.map */