:root {
  --font-stack: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 1.12rem;
  --weight-regular: 400;
  --weight-medium: 500;
  color-scheme: light dark;
  --color-dark: #212121;
  --color-dark2: #2c2c2c;
  --color-light: #ffffff;
  --color-primary: #e71d36;
  --color-secondary: #ff9f1c;
  --text-ondarkmode: var(--color-light);
  --text-onlightmode: var(--color-dark);
  --background-light: linear-gradient(180deg, #f0ebeb, #f0ebeb);
  --background-dark: linear-gradient(180deg, #383838, #383838);
  --color-links: var(--color-secondary);
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}

/*-----Universal Styles-----*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*-----Core Styles-----*/
:where(html) {
  font-size: 100%;
  box-sizing: border-box;
}

:where(html:focus-within) {
  scroll-behavior: smooth;
}

:where(blockquote, body, dd, dl, figure, h1, h2, h3, h4, p) {
  margin: 0;
}

:where(ul, ol):where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(img, picture, svg) {
  display: block;
  max-width: 100%;
}

:where(img[width]) {
  height: auto !important;
}

:where(svg) {
  fill: currentColor;
  pointer-events: none;
}

:where(button) {
  background: none;
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-light);
    color: var(--color-ondarkmode);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-dark);
    color: var(--color-onlightmode);
  }
}
body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var(--fontstack);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  color: var(--color-text-dark);
  background: var(--color-background-light);
}

a {
  text-decoration: none;
  color: var(--color-links);
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
  font-weight: var(--font-weight);
  letter-spacing: 0.04em;
  line-height: 1.1;
}

.feather {
  stroke: var(--color-dark);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: var(--container-weight);
  padding: var(--spacing-small);
}

.page-header {
  position: relative;
  overflow: hidden;
  background-image: none;
}
.page-header .home-banner {
  position: relative;
  transition: all 1s linear;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page-header .home-banner :where(.logo, p) {
  margin-bottom: var(--spacing-large);
}
.page-header .home-banner :where(.span) {
  padding: 0 var(--spacing-small);
  border-radius: 1rem;
}
.page-header .home-banner .icon-div {
  display: flex;
  gap: calc(var(--icon-size) / 1);
}
.page-header .home-banner .icon-div .feather {
  width: var(--icon-size);
  height: var(--icon-size);
}
.page-header .home-banner .icon-div a:hover .feather {
  stroke: var(--color-secondary);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=style.css.map */