:root {
  --font-stack: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 1.12rem;
  --weight-regular: 400;
  --weight-medium: 500;
  color-scheme: light dark;
  --color-background-light: linear-gradient(180deg, #f0ebeb, #f0ebeb);
  --color-background-dark: linear-gradient(180deg, #383838, #383838);
  --color-text-dark: #2c2c2c;
  --color-text-light: rgb(243, 237, 237);
  --color-link: var(--color-primary);
  --color-link-over: var(--color-secondary);
  --color-primary: #e71d36;
  --color-secondary: #ff9f1c;
  --z-index: 99;
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}

/*-----Universal Styles-----*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*-----Browser Inconsistancy Fixes-----*/
button,
input,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*-----Core Styles-----*/
:where(html) {
  font-size: 100%;
  box-sizing: border-box;
}

:where(html:focus-within) {
  scroll-behavior: smooth;
}

:where(blockquote, body, dd, dl, figure, h1, h2, h3, h4, p) {
  margin: 0;
}

:where(ul, ol):where([role=list]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(img, picture, svg) {
  display: block;
  max-width: 100%;
}

:where(img[width]) {
  height: auto !important;
}

:where(svg) {
  fill: currentColor;
  pointer-events: none;
}

:where(button) {
  background: none;
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-size);
  font-family: var(--fontstack);
  font-weight: 300;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  color: var(--color-text-dark);
  background: var(--color-background-light);
}

a {
  text-decoration: none;
  color: var(--color-link);
}
a:visited {
  color: inherit;
}
a:hover {
  color: var(--color-link-hover);
}
a:active {
  color: var(--color-link-hover) t;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
  font-weight: var(--font-weight);
  letter-spacing: 0.04em;
  line-height: 1.1;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: var(--container-weight);
  padding: var(--spacing-small);
}

.page-header {
  position: relative;
  overflow: hidden;
  background-image: none;
}
.page-header .home-banner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: var(--container-weight);
}
.page-header :where(.logo, p) {
  margin-bottom: var(--spacing-large);
}
.page-header :where(.span) {
  padding: 0 var(--spacing-small);
  border-radius: 1rem;
}
.page-header .icon-div {
  display: flex;
  gap: calc(var(--icon-size) / 1);
}
.page-header .icon-div .feather {
  width: var(--icon-size);
  height: var(--icon-size);
}
.page-header .icon-div a:hover .feather {
  stroke: var(--color-primary);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=style.css.map */