@use '../utils' as *;

.page-header {
  position: relative;
  overflow: hidden;
  background-image: none;

  & .home-banner {
    position: relative;
    transition: all 1s linear;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    :where(.logo, p) {
      margin-bottom: var(--spacing-large);
    }

    h1 {
      position: relative;
      color: inherit;

      & spam {
        font-size: .5em;
      }
    }

    p {
      background: linear-gradient(to right,
          var(--color-2),
          var(--color-3));
      text-align: center;
      border: 0;
      padding-left: var(--spacing-small);
      padding-right: var(--spacing-small);
    }

    :where(.span) {
      padding: 0 var(--spacing-small);
      border-radius: 1rem;
    }

    .icon-div {
      display: flex;
      gap: calc(var(--icon-size) / 1);

      .feather {
        width: var(--icon-size);
        height: var(--icon-size);
      }

      a:hover {
        .feather {
          //stroke: currentColor;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation: draw 5s linear forwards;
        }
      }


    }


  }






  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }


}