/*-----Universal Styles-----*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*-----Core Styles-----*/
html {
  font-size: 100%;
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
ol [role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto !important;
}

svg {
  fill: currentColor;
  pointer-events: none;
}

button {
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font: {
    size: var(--font-size);
    family: var(--font-family);
    weight: var(--font-thin);
  }

  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--lightmode-bg);
    color: var(--dark-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--darkmode-bg);
    color: var(--light-text);

    .icon-div {
      a:hover {
        .feather {
          stroke: var(--color-4);
        }
      }
    }


  }
}


.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.block {
  display: block
}

// flexbox
.flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

// grid
.grid {
  display: grid
}

.place-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.max-h-screen {
  max-height: 100vh
}

.min-h-screen {
  min-height: 100vh
}

.w-full {
  width: 100%
}