@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--lightmode-bg);
    color: var(--dark-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--darkmode-bg);
    color: var(--light-text);

    .icon-div {
      a:hover {
        .feather {
          stroke: var(--color-4);
        }
      }
    }


  }
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font: {
    size: var(--font-size);
    family: var(--font-family);
    weight: var(--font-thin);
  }

  line-height: 1.6;
  text-rendering: optimizeSpeed;
}