body,
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font: {
    size: var(--font-size);
    family: var(--font-family);
    weight: var(--font-thin);
  }

  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--lightmode-bg);
    color: var(--dark-text);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--darkmode-bg);
    color: var(--light-text);

    .icon-div {
      a:hover {
        .feather {
          stroke: var(--color-4);
        }
      }
    }


  }
}


.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.block {
  display: block
}

// flexbox
.flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

// grid
.grid {
  display: grid
}

.place-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.max-h-screen {
  max-height: 100vh
}

.min-h-screen {
  min-height: 100vh
}

.w-full {
  width: 100%
}