:root {
  // font
  --font-family: Inter, Avenir, Helvetica, sans-serif;
  --font-size: 1.12rem;
  --font-thin: 100;
  --font-regular: 400;
  --font-medium: 500;
  // colors, light & dark
  color-scheme: light dark;
  --color-0: #000000;
  --color-1: #f7f7f7;
  --color-2: #e71d36;
  --color-3: #FF9F29;
  --color-4: #FF9F29;
  --color-5: #FAF3E3;
  --color-6: #3D0000;
  --color-7: #950101;
  // darkmode
  --darkmode-bg: var(--color-0);
  --light-text: var(--color-1); // text is light -bg is dark
  --lightmode-bg: var(--color-1);
  --dark-text: var(--color-0); // text is dark -bg is light
  // links
  --links: none;

  // sizing 
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}