:root {

  // font
  --font-stack: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 1.12rem;
  --weight-regular: 400;
  --weight-medium: 500;
  // colors, light & dark
  // primary 
  color-scheme: light dark;
  --color-dark: #212121;
  --color-dark2: #2c2c2c;
  --color-light: #ffffff;
  --color-primary: #e71d36;
  --color-secondary: #ff9f1c;

  --text-ondarkmode: var(--color-light);
  --text-onlightmode: var(--color-dark);
  --background-light: linear-gradient(180deg, #f0ebeb, #f0ebeb);
  --background-dark: linear-gradient(180deg, #383838, #383838);
  // links
  --color-links: var(--color-secondary);
  // sizing 
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}