:root {
  // font
  --font-stack: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 1.12rem;
  --weight-regular: 400;
  --weight-medium: 500;

  // colors, light & dark
  color-scheme: light dark;
  --color-background-light: linear-gradient(180deg, #f0ebeb, #f0ebeb);
  --color-background-dark: linear-gradient(180deg, #383838, #383838);
  --color-text-dark: #2c2c2c;
  --color-text-light: rgb(243, 237, 237);
  // links
  --color-link: var(--color-primary);
  --color-link-over: var(--color-secondary);
  // primary & secondary
  --color-primary: #e71d36;
  --color-secondary: #ff9f1c;
  // sizing 
  --z-index: 99;
  --viewport-height: 100vh;
  --viewport-weight: 100vw;
  --spacing-small: 0.5rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 3rem;
  --container-weight: 60rem;
  --icon-size: 2rem;
}